body {
  background: lightblue;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

h1 {
  color: #192a56;
  padding-bottom: 10px;
}

h3 {
<<<<<<< HEAD
  color: #550055;
  font-size: 21px;
=======
  color: #550000;
  font-size: 17px;
>>>>>>> devKris
}

h4 {
  color: #1d4562;
  padding-bottom: 15px;
}

h6 {
  color: #550055;
  font-size: 19px;
}

p {
  color:#343503;
  font-size: 15px;
}

